<div class="connect">
    <form action=" ">
        <h5>Lets Connect</h5>
        <div class="formContainer">
            <i class="fa fa-user icon"></i>
            <input class="textField" type="text" placeholder="Name" name="name">
        </div>

        <div class="formContainer">
            <i class="fa fa-envelope icon"></i>
            <input class="textField" type="text" placeholder="Email" name="email">
        </div>
        <div class="formContainer">
            <textarea class="textArea" type="text" placeholder="Ask me anything..." name="query" Rows="10">
            </textarea>
        </div>
        <button type="submit" class="submitButton">SUBMIT</button>
    </form>
</div>