<div class="mainContainer">
    <div class="Introduction">
        <div class="details">
            <ul style="list-style-type:none">
                <li>
                    <img class="image" src="sheeba.jpeg" alt="My Image">
                </li>
                <li>
                    <b><i><p class="name">SHEEBA TANVEER</p></i></b>
                    <p class="name">shaiksheeba786@gmail.com</p>
                    {{!-- refrence for icons taken from w3schools --}}
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.linkedin.com/in/sheeba-tanveer-a34541136/" class="fa fa-linkedin"></a>
                    <a href="skype:Sheeba Tanveer?chat" class="fa fa-skype"></a>
                </li>
            </ul>
        </div>
        <div class="statementContainer">
            <p class="statement">
                Innovative App Developer with 3+ years of experience in designing, developing, testing, and
                maintaining
                mobile applications.Proficient with Swift and React Native.Strong knowledge of iOS SDK, different
                versions of iOS, and
                how to deal with different screen sizes
            <p>
        </div>
    </div>
    <h5>Projects</h5>
    <div class="Projects">
        <div class="projectCard">
            <img class="projectImageCard" src="YMCA.png" alt="Project1 Image">
            <div class="projectDataContainer">
                <h4><b>YMCA</b></h4>
                <p><b><i>Role: iOS Developer</i></b></p>
            </div>
        </div>
        <div class="projectCard">
            <img class="projectImageCard" src="MFS.png" alt="Project1 Image">
            <div class="projectDataContainer">
                <h4><b>MFS</b></h4>
                <p><b><i>Role: iOS Developer</i></b></p>
            </div>
        </div>
        <div class="projectCard">
            <img class="projectImageCard" src="knowRX.png" alt="Project2 Image">
            <div class="projectDataContainer">
                <h4><b>knowRX</b></h4>
                <p><b><i>Role: React Native</i></b></p>
            </div>
        </div>
        <div class="projectCard">
            <img class="projectImageCard" src="FL.png" alt="Project3 Image">
            <div class="projectDataContainer">
                <h4><b>Fantasy League</b></h4>
                <p><b><i>Role: iOS Developer</i></b></p>
            </div>
        </div>
    </div>
    <h5>Blogs</h5>
    <div class="Blogs">
        <div class="Blogs2">
            <div class="projectCard">
                <a href="https://sheebatanveer.blogspot.com/2018/12/photo-filters-with-core-image-in-swift.html">
                    <img class="projectImageCard" src="blog1.png" alt="Project1 Image">
                    <div class="projectDataContainer">
                        <p><b><i>Photo Filters With Core Image in Swift</i></b></p>
                    </div>
                </a>
            </div>
            <div class="projectCard">
                <a href="https://medium.com/@shaiksheeba786/native-vs-hybrid-apps-what-to-choose-69d23e9cb8b3">
                    <img class="projectImageCard" src="blog1.png" alt="Project1 Image">
                    <div class="projectDataContainer">
                        <p><b><i>Native vs Hybrid Apps: What to choose?</i></b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <h5>Skills</h5>
    <div class="mainContainer">
        <div class="Skills">
            <div class="Skills2">
                <div class="projectCard">
                    <img class="projectImageCard" src="Swift.png" alt="Project1 Image">
                </div>
                <div class="projectCard">
                    <img class="projectImageCard" src="ReactNative.png" alt="Project1 Image">
                </div>
                <div class="projectCard">
                    <img class="projectImageCard" src="android.png" alt="Project1 Image">
                </div>
            </div>
            <div class="Skills3">
                <div class="projectCard">
                    <img class="projectImageCard" src="objC.png" alt="Project1 Image">
                </div>
                <div class="projectCard">
                    <img class="projectImageCard" src="java.png" alt="Project1 Image">
                </div>
            </div>
        </div>
    </div>
    <div class="connect">
        <form action=" ">
            <h5>Lets Connect</h5>
            <div class="formContainer">
                <i class="fa fa-user icon"></i>
                <input class="textField" type="text" placeholder="Name" name="name">
            </div>

            <div class="formContainer">
                <i class="fa fa-envelope icon"></i>
                <input class="textField" type="text" placeholder="Email" name="email">
            </div>

            <div class="formContainer">
                <textarea class="textArea" type="text" placeholder="Ask me anything..." name="query" Rows="7">
            </textarea>
            </div>
            <button type="submit" class="submitButton">SUBMIT</button>
        </form>
    </div>

</div>