<div class="mainContainer">
    <div class="Skills">
        <div class="Skills2">
            <div class="projectCard2">
                <img class="projectImageCard2" src="Swift.png" alt="Project1 Image">
            </div>
            <div class="projectCard2">
                <img class="projectImageCard2" src="ReactNative.png" alt="Project1 Image">
            </div>
            <div class="projectCard2">
                <img class="projectImageCard2" src="android.png" alt="Project1 Image">
            </div>
        </div>
        <div class="Skills3">
            <div class="projectCard2">
                <img class="projectImageCard2" src="objC.png" alt="Project1 Image">
            </div>
            <div class="projectCard2">
                <img class="projectImageCard2" src="java.png" alt="Project1 Image">
            </div>
        </div>
    </div>
</div>