<div class="mainContainer">
     
        <h5>Projects</h5>
        <div class="Projects">
            <div class="projectCard">
                <img class="projectImageCard" src="YMCA.png" alt="Project1 Image">
                <div class="projectDataContainer">
                    <h4><b>YMCA</b></h4>
                    <p><b><i>Role: iOS Developer</i></b></p>
                </div>
            </div>
            <div class="projectCard">
                <img class="projectImageCard" src="MFS.png" alt="Project1 Image">
                <div class="projectDataContainer">
                    <h4><b>MFS</b></h4>
                    <p><b><i>Role: iOS Developer</i></b></p>
                </div>
            </div>
            <div class="projectCard">
                <img class="projectImageCard" src="knowRX.png" alt="Project2 Image">
                <div class="projectDataContainer">
                    <h4><b>knowRX</b></h4>
                    <p><b><i>Role: React Native</i></b></p>
                </div>
            </div>
            <div class="projectCard">
                <img class="projectImageCard" src="FL.png" alt="Project3 Image">
                <div class="projectDataContainer">
                    <h4><b>Fantasy League</b></h4>
                    <p><b><i>Role: iOS Developer</i></b></p>
                </div>
            </div>
        </div>
        <h5>Blogs</h5>
        <div class="Blogs">
            <div class="Blogs2">
                <div class="projectCard3">
                    <a href="https://sheebatanveer.blogspot.com/2018/12/photo-filters-with-core-image-in-swift.html">
                        <img class="projectImageCard3" src="blog1.png" alt="Project1 Image">
                        <div class="projectDataContainer3">
                            <p><b><i>Photo Filters With Core Image in Swift</i></b></p>
                        </div>
                    </a>
                </div>
                <div class="projectCard3">
                    <a href="https://medium.com/@shaiksheeba786/native-vs-hybrid-apps-what-to-choose-69d23e9cb8b3">
                        <img class="projectImageCard3" src="blog1.png" alt="Project1 Image">
                        <div class="projectDataContainer3">
                            <p><b><i>Native vs Hybrid Apps: What to choose?</i></b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>